@import "reset";

$testborder: 1px solid red;
$lighttransition: all linear 0.1s;
$shadow: 1px 1px 6px grey;
$lightanimation: appear 0.3s ease-out;
$lightslide: slide 0.3s ease-out;

@import "utilities";

@keyframes appear {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes slide {
	from {
		width: 0;
	}
	to {
		width: 300px;
	}
}

// SCROLLBAR

/* Works on Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: rgb(172, 199, 224) white;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 12px;
}

*::-webkit-scrollbar-track {
	background: white;
}

*::-webkit-scrollbar-thumb {
	background-color: rgb(172, 199, 224);
	border-radius: 20px;
	border: 3px solid white;
}

time {
	font-size: 0.75rem;
}

input {
	border-radius: 10px;
	border: 1px solid black;
}

input,
button {
	background-color: white;
	outline: none;
}

label {
	margin-bottom: 1rem;
}

h2 {
	font-size: 1.3rem;
}

#root {
	height: 100vh;
	width: 100vw;
}

.appear {
	animation: $lightanimation;
}

.slide {
	animation: $lightslide;
}

.btn {
	background-color: white;
	border-radius: 999px;
	border: 1px solid black;
}

.dashboard {
	height: 100vh;
	min-width: 200px;
	width: fit-content;
	flex-grow: 0;
	flex-shrink: 0;
	background-color: rgb(202, 231, 255);
	padding: 0.5rem;
	box-sizing: border-box;
	white-space: nowrap;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-right: 1px solid black;
}

.post-link {
	display: flex;
	box-sizing: border-box;
	width: 95%;
	margin-bottom: 0.5rem;
	color: black;
	justify-content: space-between;
	align-items: center;
	transition: $lighttransition;
	animation: $lightanimation;
}

.post-link:hover {
	font-size: 1.25rem;
}

.auth-form {
	background-color: white;
	color: black;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 1rem;
	border-radius: 10px;
	box-shadow: $shadow;
	animation: $lightanimation;
}

.auth-input {
	padding-left: 0.5rem;
}

.icon {
	width: 1rem;
}

.icon-big {
	width: 2rem;
	transition: $lighttransition;
}

.icon-big:hover {
	width: 2.25rem;
}

.main {
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	padding: 2rem;
}

.cover {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(100, 100, 100, 0.5);
	z-index: 2;
}

.codescreen {
	background-color: white;
	box-shadow: $shadow;
}

.title-label {
	width: 100%;
	position: relative;
}

.title-label-span {
	position: absolute;
	color: grey;
	left: 0.5rem;
	bottom: 150%;
}

.title {
	width: 100%;
	height: 60px;
	font-size: 1.5rem;
	padding-top: 1rem;
	padding-left: 0.5rem;
	box-sizing: border-box;
	outline: none;
	border: 1px solid rgb(221, 221, 221);
	border-bottom: 0;
	border-radius: 0;
	background-color: white;
	transition: $lighttransition;
}

.title:hover {
	background-color: rgb(255, 255, 232);
}

.save-div {
	width: 100%;
	border: 1px solid rgb(221, 221, 221);
	box-sizing: border-box;
	display: flex;
	height: 30px;
}

.lock-div {
	display: flex;
	align-items: center;
	justify-content: center;
	border-right: 1px solid rgb(221, 221, 221);
	width: 2rem;
	transition: $lighttransition;
}

.lock-div:hover {
	background-color: rgb(194, 233, 190);
}

.submit-button {
	width: 100%;
	border: 0;
	border-radius: 0;
	background-color: rgb(245, 244, 196);
	transition: $lighttransition;
}

.submit-button:hover {
	background-color: rgb(224, 224, 182);
}

.message {
	background-color: white;
	border-radius: 10px;
	border: 2px solid black;
	font-size: 1.5rem;
	display: flex;
	box-sizing: border-box;
	padding: 1rem;
	justify-content: center;
	align-items: center;
	box-shadow: $shadow;
}

.comments {
	width: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgb(255, 242, 242);
	padding: 0.5rem;
	border-left: 1px solid black;
	box-sizing: border-box;
}

.comment {
	width: 100%;
	box-shadow: $shadow;
	padding: 1rem;
	box-sizing: border-box;
}

.comment-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.icon-container {
	transition: $lighttransition;
	border-radius: 50%;
	width: 1.5rem;
	height: 1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.dash-icon:hover {
	background-color: lightskyblue;
}

.trash:hover {
	background-color: lightpink;
}

.ham {
	display: flex;
	justify-content: center;
}

.hidden-dash {
	width: fit-content;
}

.rad {
	border-radius: 9999px;
}


@media (max-width: 900px) {
	body {
		overflow-x: hidden;
		overflow-y: scroll;
	}

	.App {
		flex-direction: column;
		max-width: 100vw;
		width: 100%;
	}

	.comments {
		width: 100%;
		border: 0;
		border-top: 1px solid black;
		min-height: 100px;
	}

	.comment {
		margin: 0;
		width: 90%;
	}

	.dashboard {
		position: fixed;
		z-index: 2;
		border-bottom: 1px solid black;
		padding-top: 4rem;
		width: 200px;
		height: fit-content;
	}

	.hidden-dash {
		padding: 0;
		border: 0;
		width: fit-content;
	}

	.main {
		padding-top: 4rem;
	}

	.ham-container {
		width: 0;
	}

	.post-link {
		width: 180px;
	}

	.ham {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		background-color: rgb(202, 231, 255);
	}

	.slide {
		animation: none;
	}
}
