@import "reset";
@import "switch";
$testborder: 1px solid red;

time {
	font-size: 0.75rem;
}

#root {
	height: 100vh;
	width: 100vw;
}

.btn {
	background-color: white;
	border-radius: 999px;
	border: 1px solid black;
}



.flex {
	display: flex;
}

.mrg {
	margin: 1rem;
}

.straight {
	align-items: center;
}

.dashboard {
	height: 100vh;
	width: 200px;
	background-color: black;
	color: white;
	padding: 0.5rem;
	box-sizing: border-box;
	white-space: nowrap;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}


.post-link {
	display: flex;
	box-sizing: border-box;
	width: 95%;
	margin-bottom: 0.5rem;
	color: white;
	justify-content: space-between;
	align-items: center;
}


.auth-form {
	background-color: white;
	height: 500px;
	display: flex;
}

.icon {
	width: 1rem;
}

.main {
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	padding: 2rem;
}

.cover {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(100, 100, 100, 0.5);
	z-index: 2;
}

.codescreen {
	background-color: white;
}

.around {
	width: 100%;
	display: flex;
	justify-content: space-around;
}



.bor-bot {
	padding-bottom: 0.5rem;
	border-bottom: 1px solid white;
}


.bor-top {
	padding-top: 0.5rem;
	border-top: 1px solid white;
}

.title-label {
	width: 100%;
	position: relative;
}

.title-label-span {
	position: absolute;
	color: grey;
	left: 0.5rem;
	bottom: 150%;
}

.title {
	width: 100%;
	height: 60px;
	font-size: 1.5rem;
	padding-top: 1rem;
	padding-left: 0.5rem;
	box-sizing: border-box;
	outline: none;
	border: 1px solid rgb(221, 221, 221);
	border-bottom: 0;
	background-color: white;
}