@import "reset";
@import "switch";
$testborder: 1px solid red;

time {
	font-size: 0.75rem;
}

#root {
	height: 100vh;
	width: 100vw;
}

.App {
	display: flex;
}

.dashboard {
	height: 100vh;
	background-color: grey;
    padding: 1rem;
    white-space: nowrap;
    
}

.post-link {
	display: flex;
}

.icon {
    width: 1rem;
}


.main {
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	padding: 2rem;
}
